.HeadingStyle {
  font-family: "Merienda", cursive;
  text-align: center;
  color: white;
  font-weight: lighter;
}

.InteractionArea {
  margin-top: 50px;
}

#text {
  text-align: start;
}

#author {
  font-style: italic;
  text-align: end;
  font-size: 1rem;
}

#quote-box {
  width: 30%;
  background: linear-gradient(rgb(124, 38, 38), rgb(201, 83, 83));
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  border-radius: 2px;
}

p {
  font-family: "Titillium Web", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: white;
}

#new-quote,
#tweet-quote {
  padding: 15px;
  background-color: #333232;
  border: 0px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

#new-quote {
  font-family: "Source Sans Pro", sans-serif;
  float: right;
  background-color: #333232;
}

#new-quote:hover {
  background: #212121;
  transition: 0.3s;
}

#new-quote:focus,
#tweet-quote:focus {
  outline: 0;
}

#tweet-quote:hover {
  background-color: #1da1f2;
  transition: 0.3s;
}
